<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
        {% include "tnews/body/featured/featured_story.html" %}
        {% include "tnews/body/trending/trending.html" %}
        {% include "tnews/body/weekly/weekly.html" %}
        {% include "tnews/body/category/category.html" %}
        {% include "tnews/body/editor/editor.html" %}
        {% include "tnews/body/featured/featured_post.html" %}
      </div>
      {% include "tnews/slidebar/slidebar.html" %}
    </div>
  </div>