<div class="breaking-news-ticker bg-light py-2">
    <div class="container">
      <div class="d-flex align-items-center">
        <span class="badge bg-danger me-2">BREAKING</span>
        <marquee behavior="scroll"
                 direction="left"
                 onmouseover="this.stop();"
                 onmouseout="this.start();">
                 {% for trending_post in trending_posts %}
          <a href="#" class="text-dark text-decoration-none me-4">{{ trending_post.title }}</a>
          <!-- <a href="article.html" class="text-dark text-decoration-none me-4">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a> -->
          <!-- <a href="article.html" class="text-dark text-decoration-none me-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a> -->
          {% endfor %}
        </marquee>
      </div>
    </div>
  </div>